#main_container{
  background-color: $white;
}
#items_container{
  background-color: $white;
  padding: 5px;

  .item{
    border: 1px solid $ltGray;
    margin: 5px;
    padding: 5px;
    max-width: 150px;
    width: 100%;
  }
  .item_img{
    display: block;
    width: 100%;
    height: initial;
    object-fit: contain;
  }
  .item_title, .item_price{
    display: block;
    text-align: center;
  }
  .item_price{
    font-weight: 700;
  }
}
.logo_container{
  padding: 5px;
  img{
    display: block;
    max-width: 100%;
    height: initial;
    object-fit: contain;
  }
}